body, html{
    padding: 0;
    margin: 0;
}
.costos{
    width: 100%;
    height: auto;
}
.contenido1{
    width: 100%;
    height: 42%;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}
.contenido2{
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    align-items: center;
}
.precio1{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    width: 25%;
    height: 40%;
    border-radius: 13px;
}
.precio1 img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.infoprecio1{
    display: inline-block;
    text-align: center;
    margin-left: 1.2%;
    width: 18%;
    padding: 1%;
    background-color: #FFCEF490;
    border-radius: 13px;
}
.img1 {
    display: flex;
    border-radius: 13px;
}
.precio2{
    display: inline-block;
    margin-left: 5.8%;
    width: 25%;
    height: 40%;
    border-radius: 13px;
}
.precio2 img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.infoprecio2{
    display: inline-block;
    text-align: center;
    margin-left: 1.2%;
    width: 18%;
    padding: 1%;
    background-color: #FFCEF470;
    border-radius: 13px;
}
.precio3{
    display: inline-block;
    margin-left: 28%;
    justify-content: center;
    align-items: center;
    width: 26%;
    border-radius: 13px;
}
.precio3 img{
    width: 100%;
    height: 100%;
    border-radius: 13px;
}
.infoprecio3{
    display: inline-block;
    text-align: center;
    margin-left: 1.2%;
    width: 18%;
    height: 230px;
    padding: 1%;
    background-color: #FFCEF470;
    border-radius: 13px;
}
/*Responsive*/
